<html>
<head>
	<title>Sistema de control de ingresos</title>
</head>
<body>
<h1> Editar cargo</h1>
<hr>
<form method=post action=/m_cargos_grabar_editar>
<input type=hidden name=xid value=<%= cargo._id %>>
<table border=0>
	<tr><td>Nombre: </td><td><input type=text name=xnom size=30 value='<%= cargo.nombre %>'></td></tr>
	<tr><td>Sueldo: </td><td><input type=text name=xsue size=10 value=<%= cargo.sueldo %>></td></tr>
	<tr><td></td><td><input type=submit value=Grabar></td></tr>
</table>
</form>
</body>
</html>