<html>
<head> <title> Sistema de control de ingresos </title>
<body>
<h1> Sistema de control de ingreso </h1>
<HR>
<H3> Opciones </H3>
<UL>
<LI> <a href=/mantenimientos>Mantenimientos</a></LI><P>
<LI> <a href=/procesos>Procesos</a></LI><P>
<LI> <a href=/reportes>Reportes</a></LI><P>
<LI> <a href=/bandas>Bandas</a></LI><P>
<LI> <a href=/areas>Areas</a></LI><P>
</UL>
</body>
</html>