<html>
<head>
	<title>Sistema de control de bandas</title>
</head>
<body>
<h1> Nueva Banda</h1>
<hr>
<form method=post action=/m_bandas_grabar_nuevo>
<table border=0>
<tr><td>Nombre: </td><td><input type=text name=xnom size=30></td></tr>
<tr><td>Fundacion: </td><td><input type=text name=xfun size=10></td></tr>
<tr><td></td><td><input type=submit value=Grabar></td></tr>
</table>
</form>
</body>
</html>