<html>
<head><title> Sistemas de control de Ingreso</title></head>
<body>
<H1> Mantenimientos </H1>
<HR>
<UL>
<LI> <a href=/m_areas_listado>Areas</a></LI><P>
<LI> <a href=/m_cargos_listado>Cargos</a></LI><P>
</UL>
</body>
</html>